.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
coverage
dist
.vscode
.parcel-cache
.spago
output
lib
site/src/public
public
!public/plain-js
.psc-ide-port
